<div class="container">
    <div align="center">
        <!--Name of the repository-->
        <h1>{{name}}</h1>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Issue</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tbody>
                {{#each issues}}
                    <tr>
                        <th>{{name}}</th>
                        <th>{{owner}}</th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <form action="/github/tasks" method="post">
                <button class="btn btn-google" name="title" value={{name}}>Insert to Google Tasks</button>
                <input type="hidden" name="owner" value={{owner}}>
                <input type="hidden" name="_csrf" value={{_csrf}}>
            </form>
        </div>
    </div>
</div>